.form{
    background-color: white;
    margin-bottom: 10px;
}
.form__header {
    border-bottom: 1px solid #ccc;
    margin: 0;
    padding: 20px;
}
.form__input{
    padding: 20px;
}
.form__button{
    background-color: teal;
    color: white;
    padding: 8px;
    border: none;
}